*{
    margin: 0;
    padding: 0;
}

.border{
    border-color:#D9D9D9!important;
}
/* Hero-area */
.search-container{
    padding: 50px;
}
.h-search-form{
    width: 100%;
    position: relative;
}
.h-search-form input{
    width: 70%;
    padding:0 30px;
    border-radius: 50px;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    color: black;
    height: 50px;
}
.h-search-form input:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
    padding: 10px 20px;
    border: 1px grey;
    transition: all 1s;
}

.h-search-form button{
    position: absolute;
    right: 120px;
    height: 40px;
    top: 5px;
    border: none;
    color: #D9D9D9;
    background: #F58634;
    border-radius: 50px;
    width: 100px;
}
.h-search-form button:hover{
    color: white;
}

/* CARDDD */
.card{
    width: 100%;
}
.sayuran-card .card img{
    margin-right: 10px;
    max-width: 100%;
    height: 277px;
}
.sayur-page-card .card img{
    width: 300px;
    height: 277px;
}
.buah-card .card img{
    margin-right: 10px;
    max-width: 100%;
    /* width: 380px; */
    height: 277px;
}
.buah-page-card .card img{
    width: 300px;
    height: 277px;
}

.card a:hover{
    color: #F58634;
}


.sayuran-container{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
.sayuran-container a, .buah-container a{
    text-decoration: none;
}
.sayuran-container a:hover, .buah-container a:hover{
    color: #F58634;
}
.sayuran-card , .buah-card, .sayur-page-card, .buah-page-card{
    display: flex;
    box-sizing: border-box;
    text-align: justify;
}

.buah-container{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.tanaman-container{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

a{
    text-decoration: none;
    color: black;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px){
    .h-search-form button{
        max-width: 20%;
        left: 70%;
    }
    .h-search-form input{
        width: 85%;
    }

    /* Sayur area */
    .sayuran-card .card img{
        max-width: 100%;
        height: 200px;
    }
    .sayuran-card .card{
        margin-left: -50px;
        width: 140%;
    }
    .sayur-page-card .card{
        margin-left: -50px;
        width: 140%;
    }
    .sayur-page-card .card img{
        max-width: 100%;
        height: 200px;
    }

    /* Buah Area */
    .buah-card .card img{
        max-width: 100%;
        height: 200px;
    }
    .buah-card .card{
        margin-left: -50px;
        width: 140%;
    }
    .buah-page-card .card{
        margin-left: -50px;
        width: 140%;
    }
    .buah-page-card .card img{
        max-width: 100%;
        height: 200px;
    }
    
}
@media only screen and (max-width: 768px){
    .h-search-form button{
        max-width: 20%;
        left: 68%;
    }
}