@media only screen and (max-width: 768px) {
    .app-bar__menu button {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    
    .nav__list {
      display: none;
    }

    .app-bar .app-bar__login button {
        display: none;
    }
    
    #drawer {
      display: none;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #81B214;
      z-index: 1;
      padding: 20px;
      border-radius: 0 0 10px 10px;
    }
    
    #drawer li {
      margin: 10px 0;
    }
    
    #drawer li a {
      display: block;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      color: #000;
    }
    
    #drawer.active {
      display: block;
    }

    .product{
      grid-template-columns: repeat(2,auto);
    }
    
    .container-detail{
      flex-direction: column;
    }

    .product-image{
      width: 350px;
      margin: auto;
    }

    .product-attribute{
      width: 100%;
      gap: 10px;
    }

    /* .add, .min{
      height: 50px;
    }
     */
    .product-attribute h4{
      font-size: 16px;
    }
    .quantity{
      gap:10px;
    }
    .rating{
      flex-direction: column;
    }

    .rating button{
      margin: auto;
    }
    .profile-drawer{
      display: none;
    }
  }

  @media only screen and (max-width: 1203px){
    .container-detail{
      flex-direction: column;
    }

    .product-image{
      width: 333px;
      margin: auto;
    }

    .product-attribute h4{
      font-size: 16px;
    }
    .rating{
      flex-direction: column;
    }

    .product-attribute{
      width: 100%;
      gap: 10px;
    }
    .rating button{
      margin: auto;
    }
  }