/* 
    mainColor : #81B214; 
    secondColor : #F58634;

*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
  text-align: center;
}
/* appBar */

.app-bar {
    padding: 8px 16px;
    width: 100%;
    background-color: #81B214;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-bar .app-bar__brand  h1{
    font-weight: 300;
    color: #FFFFFF;
}

.app-bar .app-bar__nav ul{
    display: flex;
    gap: 45px;
    list-style-type: none
}

.app-bar .app-bar__nav li{
    color: #FFFFFF;
    font-size: 20px;
}

.app-bar .app-bar__nav a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}


.app-bar .app-bar__login button{
    padding: 8px 25px;
    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    color: #81B214;
}

.nav__list{
    display: flex;
    gap: 6em;
    font-size: 20px;
    list-style-type:none;
    justify-content: flex-end;
  }
  

.app-bar .app-bar__login button:hover{
    background-color: #F58634;
    color: #FFFFFF;
}



/* Hamburger menu */
.app-bar__menu button{
    display: none;
    cursor: pointer;
    text-align: center;
    background-color: #81B214;
    color: white;
    border: none;
    font-size: 25px;
    min-height: 44px;
    min-width: 44px;
    
  }

  
main {
    
    flex: 1;
  }
   
  .content {
    margin: 0 auto;
    min-height: 100%;
  }
   
  .content .content__heading {
    font-weight: normal;
  }

/* Jumbotron */
.jumbotron {
    position: relative;
    height: 500px;
    background-color:#81B214 ;
    overflow: hidden;
  }
  .jumbotron img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  .jumbotron .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jumbotron h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .jumbotron p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .jumbotron .jumbotron-button button {
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    background-color: #F58634;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    }

  .jumbotron .jumbotron-button button:hover {
    background-color: #81B214;
    color: #fff;
    }

/* Product List */

.section-listProducts {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}

.product {
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 16px;
  margin: 32px 32px;
  justify-items: center;
}

/* product-item */
.product-item {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.product-item-header {
  position: relative;
}

.product-item .product-item-header .placeholder-img{
  margin : 10px 10px;
  width : 280px;
  height: 180px;
  background-color: #81B214;
}

.placeholder-img, .product-image{
  overflow: hidden;
}

.product-item-header img , .product-image img{
  width: 100%;
  height: 100%;
}
.product-item .product-item_content {
  padding: 16px;
}

.product-item .product-item_content h3 {
  margin: 0 0 10px 0;
}

.product-item .product-item_content h3 a {
  color: #81B214;
  text-decoration: none;
}

.product-item .product-item_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}


/* product detail section */

  .product-detail{
    margin: 80px 90px;
  }

/* navigation */
.navigation {
    height: 60px;
}

.container-detail{
  display: flex;
  gap: 20px;
}

.product-image{
  height: 350px;
  width: 28%;
  background-color: #81B214;
  margin : auto 0;
}

.img{
  display: flex;
  height: 310px;
  background-color: darkgray;
  margin: 20px 15px;
  justify-content: center;
  align-items: center;
}


.product-attribute{
    margin: 15px;
    width: 72%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.price, .quantity, .rating{
  display: flex;
  gap: 40px;
}

/* add and minus button */
.add, .min{
  width:50px;
}
.add, .min:hover{
  cursor: pointer;
}

.qty{
  width:50px;
  text-align: center;
}


/* profile-drawer */
    .profile-drawer{
      display: flex;
      flex-direction: column;
      width: 200px;
      gap: 10px;
      position: absolute;
      top: 76px;
      right: 10px;
      
    }

    .btn{
      text-align: left;
    }

    .btn-secondary{
      color:black;
      background-color: #D9D9D9;
    }

    button img{
      position: absolute;
      right: 20px;
      width: 20%;
    }

    .basket-count{
      position: absolute;
      right: 20px;
      top:-3px;
      color:red;
    }

/* halaman keranjang section */

.cart-page{
  margin : 30px 20px;
}

.cart-container{
  width: 100%;
}

.head-item, .data-item{
  width:80%;
}


    .button-showMore{
      margin-left: 45%;
      margin-bottom: 40px;
    }

/*
  Footer
*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81B214;
    color: #fff;
    padding: 15px 0;
}