<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>AgroMart</title>
</head>
<body>
    <header class="app-bar"> 
  
        <div class="app-bar__brand">
            <h1>AgroMart</h1>
        </div>
        
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>

        <nav id="navigationDrawer" class="app-bar__nav">
            <ul id="drawer">
                <li class="nav-list"><a href="/">Home</a></li>
                <li class="nav-list"><a href="#/">Groceries</a></li>
                <li class="nav-list"><a href="#/contact-us">Contact us</a></li>
            </ul>
        </nav>
        <div class="app-bar__login">
            <button id="loginButton">Sign in/Sign up</button>
        </div>
    </header>
    <main id="mainContent">
       
    </main>
    <footer class="footer">
        <p>Copyright © 2023 - AgroMart Apps</p>
    </footer>
</body>
</html>